main{
    margin: 25px;
}
h1{
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    margin: auto;
}
.qrcontainer{
    margin: 10px;
}
.error{
    border-width: 2px;
    border-color: red;
    border-style: solid;
    font-weight: bold;
}